version: '3.9'

services:
  order-service:
    build: ./order-service
    container_name: order-service
    environment:
      - ROLE_USER_TOKEN=usertoken123
      - ROLE_RESTAURANT_TOKEN=resttoken123
      - ROLE_DRIVER_TOKEN=drivertoken123
      - PORT=3001
    volumes:
      - ./order-service/data:/app/data
    ports:
      - "3001:3001"
    networks:
      - appnet

  restaurant-service:
    build: ./restaurant-service
    container_name: restaurant-service
    environment:
      - ORDER_BASE=http://order-service:3001
      - ROLE_RESTAURANT_TOKEN=resttoken123
      - PORT=3002
    depends_on:
      - order-service
    ports:
      - "3002:3002"
    networks:
      - appnet

  delivery-service:
    build: ./delivery-service
    container_name: delivery-service
    environment:
      - ORDER_BASE=http://order-service:3001
      - ROLE_DRIVER_TOKEN=drivertoken123
      - PORT=3003
    depends_on:
      - order-service
    ports:
      - "3003:3003"
    networks:
      - appnet


  frontend-react:
    build: ./frontend-react
    container_name: frontend-react
    environment:
      - VITE_ORDER_BASE=http://localhost:3001
      - VITE_RESTAURANT_BASE=http://localhost:3002
      - VITE_DELIVERY_BASE=http://localhost:3003
      - VITE_ROLE_USER_TOKEN=usertoken123
      - VITE_ROLE_RESTAURANT_TOKEN=resttoken123
      - VITE_ROLE_DRIVER_TOKEN=drivertoken123
    depends_on:
      - order-service
      - restaurant-service
      - delivery-service
    ports:
      - "3000:3000"
    networks:
      - appnet


networks:
  appnet:
    driver: bridge